<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find vls_description)/urdf/VLS-128.urdf.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>

    <xacro:arg name="gpu" default="true"/>
    <xacro:arg name="config_dir" default="$(find logiee-s-tc_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- lidar -->
    <xacro:VLP-16 parent="sensor_kit_base_link" name="velodyne_front" topic="/sensing/lidar/front/pointcloud_ex" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link2velodyne_front']['x']}
             ${calibration['sensor_kit_base_link2velodyne_front']['y']}
             ${calibration['sensor_kit_base_link2velodyne_front']['z']}"
        rpy="${calibration['sensor_kit_base_link2velodyne_front']['roll']}
             ${calibration['sensor_kit_base_link2velodyne_front']['pitch']}
             ${calibration['sensor_kit_base_link2velodyne_front']['yaw']}"
      />
    </xacro:VLP-16>
    <xacro:VLP-16 parent="sensor_kit_base_link" name="velodyne_rear" topic="/sensing/lidar/rear/pointcloud_ex" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link2velodyne_rear']['x']}
             ${calibration['sensor_kit_base_link2velodyne_rear']['y']}
             ${calibration['sensor_kit_base_link2velodyne_rear']['z']}"
        rpy="${calibration['sensor_kit_base_link2velodyne_rear']['roll']}
             ${calibration['sensor_kit_base_link2velodyne_rear']['pitch']}
             ${calibration['sensor_kit_base_link2velodyne_rear']['yaw']}"
      />
    </xacro:VLP-16>

    <!-- camera -->
    <xacro:monocular_camera_macro
      name="front_cam_base"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link2front_default_cam']['x']}"
      y="${calibration['sensor_kit_base_link2front_default_cam']['y']}"
      z="${calibration['sensor_kit_base_link2front_default_cam']['z']}"
      roll="${calibration['sensor_kit_base_link2front_default_cam']['roll']}"
      pitch="${calibration['sensor_kit_base_link2front_default_cam']['pitch']}"
      yaw="${calibration['sensor_kit_base_link2front_default_cam']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    />

    <xacro:monocular_camera_macro
      name="front_c1_cam"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link2front_c1_cam']['x']}"
      y="${calibration['sensor_kit_base_link2front_c1_cam']['y']}"
      z="${calibration['sensor_kit_base_link2front_c1_cam']['z']}"
      roll="${calibration['sensor_kit_base_link2front_c1_cam']['roll']}"
      pitch="${calibration['sensor_kit_base_link2front_c1_cam']['pitch']}"
      yaw="${calibration['sensor_kit_base_link2front_c1_cam']['yaw']}"
      fps="30"
      width="800"
      height="400"
      fov="1.3"
    />

    <!-- gnss -->
    <!-- <xacro:imu_macro
      name="gnss"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['gnss_link']['x']}"
      y="${calibration['sensor_kit_base_link']['gnss_link']['y']}"
      z="${calibration['sensor_kit_base_link']['gnss_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['gnss_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['gnss_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['gnss_link']['yaw']}"
      fps="100"
    /> -->

    <!-- imu -->
    <xacro:imu_macro
      name="imu"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link2imu']['x']}"
      y="${calibration['sensor_kit_base_link2imu']['y']}"
      z="${calibration['sensor_kit_base_link2imu']['z']}"
      roll="${calibration['sensor_kit_base_link2imu']['roll']}"
      pitch="${calibration['sensor_kit_base_link2imu']['pitch']}"
      yaw="${calibration['sensor_kit_base_link2imu']['yaw']}"
      fps="100"
    />
  </xacro:macro>
</robot>
